<fieldset>
<legend><font color="#999999">Submit MEMO</font></legend>
<form action="publish" method="post"> 
<input type="text" name="title" placeholder="title"/><br />
<input type="text" name="content" placeholder="content"/><br/>
<input type="text" name="location" placeholder="location"/><br />
<input type="text" name="coordinate" placeholder="coordinate"/><br />
<input type="text" name="partner" placeholder="1"/><br />
<input type="reset" name="reset" />
<input type="submit" value="submit" />
</form> 
</fieldset>