<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Memory - 岁月静好</title>

		<!-- Bootstrap -->
		<link href="public/css/bootstrap.min.css" rel="stylesheet">
		<link href="public/css/user-templete.css" rel="stylesheet">
		<script>
			function Display(){ document.getElementById("publisharea").style.display="block";
					window.onscroll=function(){ 
					document.getElementById("publisharea").style.top=document.documentElement.scrollTop+document.body.scrollTop+5+'px';
					}
			    }
			function Display1(){ document.getElementById("editarea").style.display="block";
					window.onscroll=function(){ 
					document.getElementById("editarea").style.top=document.documentElement.scrollTop+document.body.scrollTop+5+'px';
					}
				}
			function CLoseDIV(){ document.getElementById("publisharea").style.display="none";}
			function CLoseDIV1(){ document.getElementById("editarea").style.display="none";}
		</script>
	</head>
	<body 
	    <div style="position:relative;">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/memory">Memory</a>
			</div>
			<div>
				<ul class="nav navbar-right navbar-nav">
					<li class="inactive"><a href="user/userinfo"><b>{#nickname}</b></a></li>
					<li class="inactive"><a href="user/logout">Sign out</a></li>
				</ul>
			</div>
			</div>
		</nav>
		<div class="main-header">
			<div class="container main-info">
				<div class="row">
					<div class="col-lg-1">
					</div>
					<div class="col-lg-8">
						<h1>{#title}</h1>
						<p>{#description}</p>
					</div>
					<div class="col-lg-2">
						<img src="public/img/{#background}" class="img-avatar img-circle" />
					</div>
					<div class="col-lg-1">
						
					</div>
				</div>
			</div>
		</div>
		<div class="main-category">
			<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th class="text-right col-lg-2">Daires</th>
						<th class="text-left col-lg-2">{#daires}</th>
						<th class="text-right col-lg-2">Images</th>
						<th class="text-left col-lg-2">{#images}</th>
						<th class="text-left col-lg-2">
							<a class="new-dairy" onclick="Display()">New dairy</a>
						</th>
					</tr>
				</thead>
			</table>
			</div>
		</div>
		<div class="main-content">
			<div class="container">
				{#memory-point}
				<br />
				<br />
				<br />
			</div>
		</div>
		</div>
		</div>
		
		<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation">
			<div class="container">
				<div>
					<ul class="nav navbar-nav navbar-left">
						<li><p class="navbar-text">Created by <a href="#" class="navbar-link">MEMORY PROJECT@UCAS</a></p></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><p id="datetext" class="navbar-text">2014.11.26</p></li>
					</ul>
				</div>
			</div>
		</nav>
		</div>
		<div  id="publisharea" class="edit"  align="center" style="position:absolute;z-index:200;left:400px;top:5px;display:none;background-color:grey;">
			<fieldset style="height:560px;width:600px;">
				<legend><font color="#999999">Submit MEMO</font><a class="glyphicon glyphicon-remove" style="float:right;margin-right:20px;color:black;" onclick="CLoseDIV()"></a></legend>
					<form action="memory/publish" method="post"> 
						<g class="glyphicon glyphicon-pencil col-lg-8">
							<input type="text" name="title" placeholder="title"/><br /><br /><br />
						</g>
						<g class="glyphicon glyphicon-book col-lg-8">
							<textarea type="text" name="content" style="width:300px;height:300px" placeholder="content"/></textarea><br/><br /><br />
						</g>
						<g class="glyphicon glyphicon-map-marker col-lg-8">
							<input type="text" name="location" placeholder="location"/><br /><br /><br />
						</g>
						<g class="glyphicon glyphicon-screenshot col-lg-8">
							<input type="text" name="coordinate" placeholder="coordinate"/><br /><br /><br />
						</g>
						<g class="glyphicon glyphicon-user">
							<input type="text" name="partner" style="width:80px;"placeholder="1"/><br />
						</g>
						<g class="col-lg-8" style="margin-left:100px;">
							<input type="reset" name="reset" />
							<input type="submit" value="submit" />
						</g>
					</form> 
			</fieldset>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="public/js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="public/js/bootstrap.min.js"></script>
		<script src="public/js/custom.js"></script>
	</body>
</html>