<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Memory - 岁月静好</title>

		<!-- Bootstrap -->
		<link href="public/css/bootstrap.min.css" rel="stylesheet">
		<link href="public/css/user-templete.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/memory">Memory</a>
			</div>
			<div>
				<ul class="nav navbar-right navbar-nav">
					<li class="inactive"><a href="user/userinfo"><b>{#nickname}</b></a></li>
					<li class="inactive"><a href="user/logout">Sign out</a></li>
				</ul>
			</div>
			</div>
		</nav>
		<div class="main-header">
			<div class="container main-info">
				<div class="row">
					<div class="col-lg-1">
					</div>
					<div class="col-lg-8">
						<h1>{#title}</h1>
						<p>{#description}</p>
					</div>
					<div class="col-lg-2">
						<img src="public/img/{#background}" class="img-avatar img-circle" />
					</div>
					<div class="col-lg-1">
						
					</div>
				</div>
			</div>
		</div>
		<div class="main-category">
			<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th class="text-right col-lg-3">Daires</th>
						<th class="text-left col-lg-3">32</th>
						<th class="text-right col-lg-3">Images</th>
						<th class="text-left col-lg-3">14</th>
					</tr>
				</thead>
			</table>
			</div>
		</div>
		<div class="main-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-1">
					</div>
					<div class="col-lg-2">
						<p>2014-12-28</p>
					</div>
					<div class="col-lg-8">
						<div class="panel panel-info">
							<div class="panel-heading">
								<span class="glyphicon glyphicon-pencil dairy-title"> I see...</span>
							</div>
							<div class="panel-body">
								<div class="col-lg-4">
								</div>
								<div class="col-lg-8">
									<p>..................................................<br />
									.............................................................<br />
									..........................................................<br />
									.................................................</p>
								</div>
							</div>
							<div class="panel-footer">
							<div class="row">
								<div class="col-lg-3">
									<span class="glyphicon glyphicon-time"> 2014-12-28</span>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1">
					</div>
					<div class="col-lg-2">
						<p>2014-11-30</p>
					</div>
					<div class="col-lg-8">
						<div class="panel panel-info">
							<div class="panel-heading">
								<span class="glyphicon glyphicon-pencil dairy-title"> Footprints</span>
								
							</div>
							<div class="panel-body">
								<div class="col-lg-4">
									<img class="img-thumbnail" src="public/img/zuji.jpg"/>
								</div>
								<div class="col-lg-8">
									<p>One night I dreamed a dream.<br />
									I was walking along the beach with my Lord. <br />
									Across the dark sky flashed scenes from my life. <br />
									For each scene, I noticed two sets of footprints in the sand, <br />
									one belonging to me<br />
									and one to my Lord. <br />
									When the last scene of my life shot before me<br />
									I looked back at the footprints in the sand.<br />
									There was only one set of footprints.<br />
									I realized that this was at the lowest and saddest times in my life.<br />
									This always bothered me and I questioned the Lord about my dilemma.<br />
									"Lord, you told me when I decided to follow You,<br />
									You would walk and talk with me all the way.<br />
									But I'm aware that during the most troublesome times of my life there is only one set of footprints.<br />
									I just don't understand why, when I needed You most,<br />
									You leave me." <br />
									He whispered, "My precious child,<br />
									I love you and will never leave you<br />
									never, ever, during your trials and testings.<br />
									When you saw only one set of footprints<br />
									it was then that I carried you.<br />
									</p>
								</div>
							</div>
							
							<div class="panel-footer">
							<div class="row">
								<div class="col-lg-3">
									<span class="glyphicon glyphicon-time"> 2014-11-30</span>
								</div>
								<div class="col-lg-3">
									<span class="glyphicon glyphicon-map-marker"> Beach</span>
								</div>
								<div class="col-lg-3">
									<span class="glyphicon glyphicon-plus"> Myself</span>
								</div>
							</div>
							</div>
						</div>
						
						<br />
						<br />
						<br />
					</div>
					</div class="col-lg-1">
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation">
		<div class="container">
			<div>
				<ul class="nav navbar-nav navbar-left">
					<li><p class="navbar-text">Created by <a href="#" class="navbar-link">MEMORY PROJECT@UCAS</a></p></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><p id="datetext" class="navbar-text">2014.11.26</p></li>
				</ul>
			</div>
		</div>
	</nav>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="public/js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="public/js/bootstrap.min.js"></script>
		<script src="public/js/custom.js"></script>
	</body>
</html>