				<div class="row">
					<div class="col-lg-1">
					</div>
					<div class="col-lg-2">
						<p>{#add_datetime}</p>
					</div>
					<div class="col-lg-8">
						<div class="panel panel-info">
							<div class="panel-heading">
								<span class="glyphicon glyphicon-pencil dairy-title"> {#M_title}</span>
							</div>
							<div class="panel-body">
								<div class="col-lg-4">
									<img class="img-thumbnail" src="public/img/{#img_url}"/>
								</div>
								<div class="col-lg-8">
									<p>{#M_content}</p>
								</div>
							</div>
							<div class="panel-footer">
							<div class="row">
								<div class="col-lg-4">
									<span class="glyphicon glyphicon-time"> {#edit_datetime}</span>
								</div>
								<div class="col-lg-3">
									<span class="glyphicon glyphicon-map-marker"> {#location}</span>
								</div>
								<div class="col-lg-3">
									<span class="glyphicon glyphicon-plus"> {#Pname}</span>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>