<html>
<body style="background:linear-gradient(to bottom right,lightblue,white,lightblue);">
<fieldset style="width:100%;">
<legend><font style="color:violet">PhotoWall</font></legend>
<div style="margin-left:5%;margin-right:5%;">
	<img src="/../memory/public/img/1.jpg" style="border-radius:25px;width:200px;height:200px;"/>&nbsp;&nbsp;&nbsp;
	<img src="/../memory/public/img/2.jpg" style="border-radius:25px;width:200px;height:200px;"/>&nbsp;&nbsp;&nbsp;
	<img src="/../memory/public/img/3.jpg" style="border-radius:25px;width:200px;height:200px;"/>&nbsp;&nbsp;&nbsp;
	<img src="/../memory/public/img/4.jpg" style="border-radius:25px;width:200px;height:200px;"/>&nbsp;&nbsp;&nbsp;
	<img src="/../memory/public/img/5.jpg" style="border-radius:25px;width:200px;height:200px;"/>&nbsp;&nbsp;&nbsp;
</div>
<br/><br/>
<div style="margin-left:5%;margin-right:5%;">
    <img src="/../memory/public/img/6.jpg" style="border-radius:25px;width:200px;height:200px;"/>&nbsp;&nbsp;&nbsp;
	<img src="/../memory/public/img/7.jpg" style="border-radius:25px;width:200px;height:200px;"/>&nbsp;&nbsp;&nbsp;
	<img src="/../memory/public/img/8.jpg" style="border-radius:25px;width:200px;height:200px;"/>&nbsp;&nbsp;&nbsp;
	<img src="/../memory/public/img/9.jpg" style="border-radius:25px;width:200px;height:200px;"/>&nbsp;&nbsp;&nbsp;
	<img src="/../memory/public/img/10.jpg" style="border-radius:25px;width:200px;height:200px;"/>&nbsp;&nbsp;&nbsp;
</div>
</fieldset>
</body>
</html>